@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="validateTestCtrl as vm">
<script>
    window.testId = @ViewBag.TestId;
    window.connectionId = @ViewBag.ConnectionId;
</script>
<h2 ng-bind="vm.title"></h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 ">
            <div style="font-weight: bold; padding: 10px;">
                <div >
                    <i ng-class="vm.validationResult.isValid ? 'fa fa-check-circle-o text-success' : 'fa fa-minus-circle text-danger'"></i>&nbsp; {{vm.validationResult.testName}}
                </div>
            </div>
            <div style="padding-left:  40px;">
                <div style="padding-bottom: 10px;"> {{vm.validationResult.resultMessage}}</div>
                <div> {{vm.validationResult.runLog}}</div>
            </div>
</div>

    </div>
</div>
@section Scripts {
    <script src="~/app/Validation/ValidateTest.js"></script>
    <script src="~/app/services/ValidationDataService.js"></script>
}