@model IEnumerable<LucentDb.Domain.Entities.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style> 
    .project-button:hover {
       text-decoration: none;
       border-color: #a5a5a5;
       color: #444;
       text-shadow: 0 1px 0 #fff;
       -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.25);
       -moz-box-shadow: 0 0 3px rgba(0,0,0,0.25);
       box-shadow: 0 0 3px rgba(0,0,0,0.25);
       }

.project-button {
    border: 1px solid #ddd;
    /*margin-bottom: -1px;
    padding: 30px 0 10px 0;*/
    font-size: 14px;
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    color: #646464;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
   cursor: pointer;
    position: relative;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    /* transition: all .3s ease; */
}

 .isValid {
background: #efffe6; /* Old browsers */
background: -moz-linear-gradient(top, #efffe6 0%, #d4f3c3 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #efffe6 0%,#d4f3c3 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #efffe6 0%,#d4f3c3 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efffe6', endColorstr='#d4f3c3',GradientType=0 );
 color: #0f250f;
     text-shadow: 0 1px 0 #ffffff;
     text-shadow: 0 1px 0 rgba(255,255,255,0.6);
 }


 .isInvalid {
background: #fff7f7; /* Old browsers */
background: -moz-linear-gradient(top, #fff7f7 0%, #ffeded 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fff7f7 0%,#ffeded 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fff7f7 0%,#ffeded 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7f7', endColorstr='#ffeded',GradientType=0 ); color: #0f250f;
     text-shadow: 0 1px 0 #ffffff;
     text-shadow: 0 1px 0 rgba(255,255,255,0.6);
 }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-controller="projectDetailsViewIndexCtrl as vm">

    <div class="row" ng-repeat="item in vm.pageableResults.results">
        <div class="col col-lg-12">
            <div class="well project-button " ng-class="{1: 'isValid', 0: 'isInvalid'}[item.isValid]">
                <div class="row">

                    <div class="col-md-10">
                        <p>
                            {{item.name}}
                        </p>
                        Active: {{item.isActive}}, GroupCount:{{item.groupCount}}, TestCount:{{item.testCount}}, ActiveTestCount: {{item.activeTestCount}}, InactiveTestCount:{{item.inactiveTestCount}}
                        {{item.isValid}}


                        <a href="" ng-click="vm.deleteProject(item.projectId)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="/Projects/{{item.projectId}}/Edit">Edit</a>
                    </div>
                    <div class="col-md-2">
                        <div style="float: right">
                            <a class="btn btn-primary" href="api/Projects/{{item.projectId}}/validate"><i class="fa fa-play"></i> Run</a>
                          </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <pagination total-items="vm.pageableResults.totalCount" items-per-page="vm.pageSize" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="10" class="pagination-sm" boundary-links="true"></pagination>
</div>
@section Scripts {
    <script src="~/app/ProjectDetailsView/index.js"></script>
    <script src="~/app/services/ProjectDetailsViewDataService.js"></script>
}