@model IEnumerable<LucentDb.Domain.Entities.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-controller="projectIndexCtrl as vm">
    
    <div class="row" ng-repeat="item in vm.pageableResults.results">
        <div class="col col-lg-12">
            <div class="well">
                <div class="row">

                    <div class="col-md-10">
                        <h3>
                            {{item.name}}
                        </h3>
                        {{item.isActive}}

                        <a href="" ng-click="vm.deleteProject(item.projectId)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="/Project/Edit/{{item.projectId}}">Edit</a>
                    </div>
                    <div class="col-md-2">
                        <div style="float: right">
                            <i class="fa fa-play fa-2x" style="color: #008000"></i>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>


    <pagination total-items="vm.pageableResults.totalCount" items-per-page="vm.pageSize" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="10" class="pagination-sm" boundary-links="true"></pagination>
</div>
@section Scripts {
    <script src="~/app/Project/index.js"></script>
    <script src="~/app/services/ProjectDataService.js"></script>
}