<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings><add key="LucentDbWebApiPath" value="http://localhost:60205/"/></appSettings>
  <connectionStrings>
    <add name="LucentDbConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=LucentDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
<!--connectionString="Data Source=.\sqlexpress;Initial Catalog=LucentDb;Integrated Security=True"-->
<!--connectionString="Data Source=INNOVATIVE-MSTR;Initial Catalog=LucentDb;Integrated Security=True"-->
